.header-container{
    display: flex;
    flex-direction: column !important;
}
.logo-container{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin-top: 10px;
    max-height: 5vh;
}
.img-desc-container{
    display: flex;
    flex-direction: row !important;

}
.contact-us{
    width: 112px;
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 25px;
    line-height: 1.5;
    display: none;
    padding-left: 39px;
    position: relative;
    z-index: 4;
    font-size: 16px;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    align-self: flex-end;
    margin: 0px 1px 1px 0px;
}
.dark-blue-button{
    width: 112px;
    align-self: center;
    background-color: darkblue;
    color: white;
    border-color: black;
    border-radius: 25px;
    line-height: 1.5;
    display: none;
    padding-left: 39px;
    position: relative;
    z-index: 4;
    font-size: 16px;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;

}
.max-width-50{
    max-width: 50%;
}
a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
}
a:active { 
    text-decoration: none; 
}